div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  
  .banner {
      /* The image used */
      background-image:
      url(D:\PMJ\images\banner1.jpg);
    }
  

